#                                          Investment Case Study

In [71]:
#Importing the pandas and Numpy Packages

import pandas as pd
import numpy as np

## Checkpoint 1:Data Cleaning

In [72]:
#Reading the rounds2 and companies files
rounds2 = pd.read_csv("rounds2.csv", encoding = "ISO-8859-1",low_memory=False)
companies = pd.read_csv("companies.txt",sep="\t", encoding = "ISO-8859-1",low_memory=False)

In [73]:
#Decoding the columns permalink and company_permalink from the files
rounds2['company_permalink'] = rounds2[['company_permalink']].applymap(lambda x: x.encode('utf-8').decode('ascii', 'ignore'))
companies['permalink'] = companies[['permalink']].applymap(lambda x: x.encode('utf-8').decode('ascii', 'ignore'))

In [74]:
rounds2.shape

(114949, 6)

In [75]:
companies.shape

(66368, 10)

### Subtask 1.1 : Count of unique companies in rounds2

In [76]:
rounds2['company_permalink'] = rounds2['company_permalink'].astype(str) #Converting the company_permalink column to lower case
rounds2['company_permalink'] = rounds2.company_permalink.str.lower()
rounds2_unique = pd.DataFrame(rounds2['company_permalink'].unique())
print(rounds2_unique.count())

0    66368
dtype: int64

### Subtask 1.2 : Count of unique companies in companies

In [77]:
companies['permalink'] = companies['permalink'].astype(str)
companies['permalink'] = companies.permalink.str.lower()
companies_unique = pd.DataFrame(companies['permalink'].unique())
print(companies_unique.count())

0    66368
dtype: int64

### Subtask 1.3 : Column that can be used as unique key for company in 'companies' dataframe

In [78]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

####  
Column 'permalink' can be used as the unique key for company

### Subtask 1.4 : To check whether there are companies in 'rounds2' which are not present in 'companies' dataframe

In [79]:
extra_companies_rounds2=pd.merge(rounds2,companies,how='left',left_on='company_permalink',right_on='permalink')

In [80]:
extra_companies_rounds2=extra_companies_rounds2[pd.isnull(extra_companies_rounds2['permalink'])]

In [81]:
extra_companies_rounds2_unique = pd.DataFrame(extra_companies_rounds2['company_permalink'].unique())
print(extra_companies_rounds2_unique.count())

0    3
dtype: int64

In [82]:
#Checking for the percentage of nulls in all the columns of rounds2
print(round(rounds2.isnull().sum()*100)/(len(rounds2.index)))
rounds2_count=len(rounds2.index)
print(rounds2_count)

company_permalink           0.000000
funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
dtype: float64
114949

In [83]:
rounds2=rounds2[~pd.isnull(rounds2['raised_amount_usd'])]      #Dropping rows where raised amount is null
rounds2=rounds2.drop('funded_at',axis=1)                       #Dropping unwanted column 'funded_at'
print(round(rounds2.isnull().sum()*100)/(len(rounds2.index)))
rounds2_cleaned=len(rounds2.index)
print(rounds2_cleaned*100/rounds2_count)

company_permalink           0.000000
funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         70.335619
raised_amount_usd           0.000000
dtype: float64
82.60967907506807

In [84]:
rounds2.shape

(94959, 5)

In [85]:
#Checking for the percentage of nulls in all the columns of companies
print(round(companies.isnull().sum()*100)/(len(companies.index)))
companies_count=len(companies.index)
print(companies_count)

permalink         0.000000
name              0.001507
homepage_url      7.621143
category_list     4.743250
status            0.000000
country_code     10.483968
state_code       12.878194
region           12.099204
city             12.096191
founded_at       22.934245
dtype: float64
66368

In [86]:
#Dropping Unwanted columns from companies dataframe
companies=companies.drop(['homepage_url','state_code','region','city','founded_at','status'],axis=1)
companies=companies[~pd.isnull(companies['category_list'])]      #Dropping rows where category list column is null
companies=companies[~pd.isnull(companies['country_code'])]      #Dropping rows where country code column is null
print(round(companies.isnull().sum()*100)/(len(companies.index)))
companies_cleaned=len(companies.index)
print(companies_cleaned*100/companies_count)               #Percentage of data retained after cleaning

permalink        0.00000
name             0.00173
category_list    0.00000
country_code     0.00000
dtype: float64
87.09619093539055

In [87]:
companies.shape

(57804, 4)

### Subtask 1.5 : Creating the master dataframe by merging the companies details in the rounds2 dataframe

In [88]:
master_frame = pd.merge(rounds2,companies,how='left',left_on='company_permalink',right_on='permalink')
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,permalink,name,category_list,country_code
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,/organization/-fame,#fame,Media,IND
1,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,700000.0,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,3406878.0,NaN,NaN,NaN,NaN
3,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2000000.0,/organization/0-6-com,0-6.com,Curated Web,CHN
4,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,41250.0,/organization/01games-technology,01Games Technology,Games,HKG

In [89]:
master_frame=master_frame.drop_duplicates()

In [90]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,permalink,name,category_list,country_code
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,/organization/-fame,#fame,Media,IND
1,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,700000.0,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,3406878.0,NaN,NaN,NaN,NaN
3,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2000000.0,/organization/0-6-com,0-6.com,Curated Web,CHN
4,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,41250.0,/organization/01games-technology,01Games Technology,Games,HKG

In [91]:
master_frame.shape

(94959, 9)

## Checkpoint 2 : Funding Type Analysis

### Checkpoint 2.1 : Average funding amount for each of the funding type

In [92]:
investment_analysis = master_frame.groupby('funding_round_type')
investment_type_analysis = pd.DataFrame(investment_analysis['raised_amount_usd'].mean())
investment_type_analysis['raised_amount_usd'] = investment_type_analysis['raised_amount_usd']/1000000
investment_type_analysis

                       raised_amount_usd
funding_round_type
angel                           0.958694
convertible_note                1.453439
debt_financing                 17.043526
equity_crowdfunding             0.538368
grant                           4.300576
non_equity_assistance           0.411203
post_ipo_debt                 168.704572
post_ipo_equity                82.182494
private_equity                 73.308593
product_crowdfunding            1.363131
secondary_market               79.649630
seed                            0.719818
undisclosed                    19.242370
venture                        11.748949

### Subtask 2.2 : To find the most suitable investment type for Spark Funds based on their requirements

In [93]:
investment_funding_analysis = master_frame.groupby(['funding_round_type','funding_round_code'])
investment_funding_round_analysis = pd.DataFrame(investment_funding_analysis['raised_amount_usd'].mean())
investment_funding_round_analysis['raised_amount_usd'] = investment_funding_round_analysis['raised_amount_usd']/1000000
investment_funding_round_analysis

                                       raised_amount_usd
funding_round_type funding_round_code
angel              A                            1.729119
convertible_note   A                            1.533333
                   B                            3.500000
debt_financing     B                            9.000000
                   D                            5.000000
                   E                           34.467000
post_ipo_equity    B                            5.832264
private_equity     A                           32.950587
                   C                           25.000000
                   H                           50.000000
seed               A                            3.531744
                   B                            1.617500
                   C                            0.925000
undisclosed        A                            6.972039
                   B                           14.920766
venture            A                            6.994421
                   B                           14.672850
                   C                           21.393861
                   D                           30.599754
                   E                           46.127399
                   F                           53.376364
                   G                           76.971754
                   H                          148.827273

#  
Considering that Spark Funds wants to invest between 5 to 15 million USD per investment round, we observe that 'Venture' is the most suitable type of investment for Spark Funds.
Hence, going forward all the analysis will be performed on he venture type of investment.

## Checkpoint 3: Country Analysis

### Subtask 3.1 : Top 9 countries which have received the highest total funding across sectors for venture funding type

In [94]:
venture_frame = pd.DataFrame(master_frame.loc[master_frame['funding_round_type'] == 'venture',:])
country = venture_frame.groupby('country_code')
amount = pd.DataFrame(country['raised_amount_usd'].sum()/1000000)
top9 = amount.sort_values(by='raised_amount_usd', ascending = False).head(9)
top9

              raised_amount_usd
country_code
USA               420068.029342
CHN                39338.918773
GBR                20072.813004
IND                14261.508718
CAN                 9482.217668
FRA                 7226.851352
ISR                 6854.350477
DEU                 6306.921981
JPN                 3167.647127

In [95]:
venture_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,permalink,name,category_list,country_code
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,/organization/-fame,#fame,Media,IND
2,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,3406878.0,NaN,NaN,NaN,NaN
3,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2000000.0,/organization/0-6-com,0-6.com,Curated Web,CHN
6,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,719491.0,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,CAN
8,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,20000000.0,/organization/0xdata,H2O.ai,Analytics,USA

In [96]:
venture_frame.shape

(50228, 9)

## Checkpoint 4: Sector Analysis 1

### Subtask 4.1 : To extract the primary sector from the 'category_list' column

In [97]:
# Extracting the primary category from the category_list column 
category_frame=pd.DataFrame(venture_frame.loc[:,['funding_round_permalink','category_list']])
category_frame['Primary_Sector']=category_frame['category_list']
category_frame['Primary_Sector']=category_frame['Primary_Sector'].str.split('|',expand=True)
category_frame=category_frame[~pd.isnull(category_frame['category_list'])]
print(category_frame.shape)
category_frame.head()

(47809, 3)

,funding_round_permalink,category_list,Primary_Sector
0,/funding-round/9a01d05418af9f794eebff7ace91f638,Media,Media
3,/funding-round/5727accaeaa57461bd22a9bdd945382d,Curated Web,Curated Web
6,/funding-round/954b9499724b946ad8c396a57a5f3b72,Biotechnology,Biotechnology
8,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,Analytics,Analytics
9,/funding-round/ae2a174c06517c2394aed45006322a7e,Analytics,Analytics

In [98]:
category_frame.shape

(47809, 3)

### Subtask 4.2 : Read the mapping file and map the main category to the primary category

In [99]:
mapping=pd.read_csv('mapping.csv')
mapping=mapping.drop(0,axis=0)                                            #Dropping the null value on the 0th row
mapping['category_list']=mapping['category_list'].str.replace('0','na')   #Replacing '0' with 'na' in the category list column
mapping_main_category=pd.melt(mapping,id_vars='category_list',value_vars=['Automotive & Sports','Cleantech / Semiconductors','Entertainment','Health','Manufacturing','News, Search and Messaging','Others','Social, Finance, Analytics, Advertising'],var_name='Main_Sector',value_name='Main_Category_Value')
mapping_main_category=mapping_main_category.loc[mapping_main_category['Main_Category_Value']==1]
mapping_main_category=mapping_main_category.drop('Main_Category_Value',axis=1)
mapping_main_category.head()

       category_list          Main_Sector
7   Adventure Travel  Automotive & Sports
13         Aerospace  Automotive & Sports
44              Auto  Automotive & Sports
45   Automated Kiosk  Automotive & Sports
46        Automotive  Automotive & Sports

In [100]:
mapping_main_category.shape

(687, 2)

## Checkpoint 5: Sector Analysis 2

### Subtask 5.1 : Create three seperate dataframes as D1,D2,D3 for each of the top three countries

In [101]:
#Extracting the master dataframe details for the Top 3 English Speaking Countries with funding type Venture
Top3_English_Countries=['USA','GBR','IND']
Top3=D2=venture_frame.loc[venture_frame['country_code'].isin(Top3_English_Countries),:]

In [102]:
Top3.shape

(38803, 9)

In [103]:
#Mapping the main sector to the primary sector of the category dataframe
Final_Category=pd.merge(category_frame,mapping_main_category,how='inner',left_on='Primary_Sector',right_on='category_list')

In [104]:
Final_Category=Final_Category.drop_duplicates()

In [105]:
Final_Category.shape

(47619, 5)

In [106]:
Final_Category.head()

,funding_round_permalink,category_list_x,Primary_Sector,category_list_y,Main_Sector
0,/funding-round/9a01d05418af9f794eebff7ace91f638,Media,Media,Media,Entertainment
1,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,Media|News|Publishing|Soccer|Sports,Media,Media,Entertainment
2,/funding-round/bd626ed022f5c66574b1afe234f3c90d,Media|News|Publishing|Soccer|Sports,Media,Media,Entertainment
3,/funding-round/fd4b15e8c97ee2ffc0acccdbe1a98810,Media|News|Publishing|Soccer|Sports,Media,Media,Entertainment
4,/funding-round/452a2342fe720285c3b92e9bd927d9ba,Media,Media,Media,Entertainment

In [107]:
#Mapping the primary sector and main sector to the master frame of Top 3 countries having venture funding type
Top3_Final_Frame=pd.merge(Top3,Final_Category,how='inner',left_on='funding_round_permalink',right_on='funding_round_permalink')

In [108]:
Top3_Final_Frame=Top3_Final_Frame.drop_duplicates()

In [109]:
Top3_Final_Frame=Top3_Final_Frame.drop(['permalink','category_list_x','category_list_y'],axis=1) #Dropping unwanted columns

In [110]:
Top3_Final_Frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,name,category_list,country_code,Primary_Sector,Main_Sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,#fame,Media,IND,Media,Entertainment
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,20000000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
2,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,1700000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
3,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,8900000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
4,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,5000000.0,1 Mainstream,Apps|Cable|Distribution|Software,USA,Apps,"News, Search and Messaging"

In [111]:
Top3_Final_Frame.shape

(38638, 10)

In [112]:
# Create Dataframe D1,D2,D3 containing top 3 English speaking country each
D1=Top3_Final_Frame.loc[Top3_Final_Frame['country_code']=='USA',:]
D2=Top3_Final_Frame.loc[Top3_Final_Frame['country_code']=='GBR',:]
D3=Top3_Final_Frame.loc[Top3_Final_Frame['country_code']=='IND',:]

In [113]:
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,name,category_list,country_code,Primary_Sector,Main_Sector
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,20000000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
2,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,1700000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
3,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,8900000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising"
4,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,5000000.0,1 Mainstream,Apps|Cable|Distribution|Software,USA,Apps,"News, Search and Messaging"
6,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,2520000.0,1000memories,Curated Web,USA,Curated Web,"News, Search and Messaging"

In [114]:
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,name,category_list,country_code,Primary_Sector,Main_Sector
5,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,4000000.0,10 Minutes With,Education,GBR,Education,Others
97,/organization/31dover,/funding-round/b95cb5a74632e596e19a845e405ef14b,venture,B,2274716.0,31Dover,E-Commerce|Wine And Spirits,GBR,E-Commerce,Others
108,/organization/365scores,/funding-round/48212f931f542fdef78810bc87aef086,venture,B,5500000.0,365Scores,Android|Apps|iPhone|Mobile|Sports,GBR,Android,"Social, Finance, Analytics, Advertising"
109,/organization/365scores,/funding-round/493f78ea0ca33cfac48a57b2351b154b,venture,A,1200000.0,365Scores,Android|Apps|iPhone|Mobile|Sports,GBR,Android,"Social, Finance, Analytics, Advertising"
156,/organization/3sun,/funding-round/f1d8c6491b45bcf2a35ef1cf5cae96c4,venture,NaN,15152514.0,3sun,Clean Technology,GBR,Clean Technology,Cleantech / Semiconductors

In [115]:
D3.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,raised_amount_usd,name,category_list,country_code,Primary_Sector,Main_Sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,#fame,Media,IND,Media,Entertainment
55,/organization/21diamonds-india,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,6369507.0,21Diamonds,E-Commerce,IND,E-Commerce,Others
68,/organization/247-learning-private,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,NaN,4000000.0,24x7 Learning,EdTech|Education|Systems,IND,EdTech,Others
136,/organization/3dsoc,/funding-round/bbedf1410fddeed341018583bbd0ca1e,venture,A,1240000.0,3DSoC,3D|Mobile,IND,3D,Manufacturing
137,/organization/3dsoc,/funding-round/da8918e533a7caf0df0dc8d3f506c0f8,venture,B,825000.0,3DSoC,3D|Mobile,IND,3D,Manufacturing

### Subtask 5.2 : To find the count of investments for rach main sector of each country

In [116]:
D1_count = D1.groupby('Main_Sector')
D1_invest_count = pd.DataFrame(D1_count['funding_round_permalink'].count())
D1_invest_count=D1_invest_count.sort_values(by='funding_round_permalink',ascending=False)
D1_invest_count

                                         funding_round_permalink
Main_Sector
Others                                                      8310
Cleantech / Semiconductors                                  7857
Social, Finance, Analytics, Advertising                     7246
News, Search and Messaging                                  4350
Health                                                      3269
Manufacturing                                               2453
Entertainment                                               1794
Automotive & Sports                                          505

In [117]:
D2_count = D2.groupby('Main_Sector')
D2_invest_count = pd.DataFrame(D2_count['funding_round_permalink'].count())
D2_invest_count=D2_invest_count.sort_values(by='funding_round_permalink',ascending=False)
D2_invest_count

                                         funding_round_permalink
Main_Sector
Others                                                       516
Cleantech / Semiconductors                                   437
Social, Finance, Analytics, Advertising                      421
News, Search and Messaging                                   241
Entertainment                                                136
Manufacturing                                                122
Health                                                       118
Automotive & Sports                                           44

In [118]:
D3_count = D3.groupby('Main_Sector')
D3_invest_count = pd.DataFrame(D3_count['funding_round_permalink'].count())
D3_invest_count=D3_invest_count.sort_values(by='funding_round_permalink',ascending=False)
D3_invest_count

                                         funding_round_permalink
Main_Sector
Others                                                       284
Social, Finance, Analytics, Advertising                      147
News, Search and Messaging                                   130
Entertainment                                                 76
Manufacturing                                                 55
Cleantech / Semiconductors                                    54
Health                                                        42
Automotive & Sports                                           31

### Subtask 5.3 : To find the total amount invested in each main sector of each country

In [119]:
D1_invest_amt = pd.DataFrame(D1_count['raised_amount_usd'].sum()/1000000)
amount = pd.DataFrame(country['raised_amount_usd'].sum()/1000000)
D1_invest_amt=D1_invest_amt.sort_values(by='raised_amount_usd',ascending=False)
D1_invest_amt

                                         raised_amount_usd
Main_Sector
Cleantech / Semiconductors                   118834.869645
Social, Finance, Analytics, Advertising       86331.402349
Others                                        82796.823598
News, Search and Messaging                    45439.636584
Health                                        31675.057766
Manufacturing                                 24845.319470
Entertainment                                 17014.560960
Automotive & Sports                           11632.164696

In [120]:
D2_invest_amt = pd.DataFrame(D2_count['raised_amount_usd'].sum()/1000000)
amount = pd.DataFrame(country['raised_amount_usd'].sum()/1000000)
D2_invest_amt=D2_invest_amt.sort_values(by='raised_amount_usd',ascending=False)
D2_invest_amt

                                         raised_amount_usd
Main_Sector
Cleantech / Semiconductors                     5052.849729
Others                                         4492.219646
Social, Finance, Analytics, Advertising        3773.328672
News, Search and Messaging                     2956.023749
Entertainment                                  1162.564878
Health                                         1046.654806
Manufacturing                                  1019.283214
Automotive & Sports                             480.878712

In [121]:
D3_invest_amt = pd.DataFrame(D3_count['raised_amount_usd'].sum()/1000000)
amount = pd.DataFrame(country['raised_amount_usd'].sum()/1000000)
D3_invest_amt=D3_invest_amt.sort_values(by='raised_amount_usd',ascending=False)
D3_invest_amt

                                         raised_amount_usd
Main_Sector
Others                                         6329.507440
News, Search and Messaging                     1739.579948
Social, Finance, Analytics, Advertising        1578.804920
Automotive & Sports                            1556.350000
Entertainment                                   976.191777
Cleantech / Semiconductors                      786.444633
Manufacturing                                   730.260000
Health                                          564.370000

In [122]:
# Finding the total number of funding for each country
print("Total No of funding for USA:",D1_invest_count['funding_round_permalink'].sum())
print("Total No of funding for GBR:",D2_invest_count['funding_round_permalink'].sum())
print("Total No of funding for IND:",D3_invest_count['funding_round_permalink'].sum())

# Finding the total amount of funding for each country
print("Total Amount of funding for USA:",D1_invest_amt['raised_amount_usd'].sum(),"million USD")
print("Total Amount of funding for GBR:",D2_invest_amt['raised_amount_usd'].sum(),"million USD")
print("Total Amount of funding for IND:",D3_invest_amt['raised_amount_usd'].sum(),"million USD")

Total No of funding for USA: 35784
Total No of funding for GBR: 2035
Total No of funding for IND: 819
Total Amount of funding for USA: 418569.835068 million USD
Total Amount of funding for GBR: 19983.803406 million USD
Total Amount of funding for IND: 14261.508718000001 million USD

In [123]:
#Finding the top sector of country D1 i.e USA, finding the comapny which received the highest investment

D1_top_sector=D1.loc[D1['Main_Sector']=='Others']
D1_hightest_company=D1_top_sector.groupby(['name','Main_Sector'])
D1_hightest_company_top_sector=pd.DataFrame(D1_hightest_company['raised_amount_usd'].sum()/1000000)
print(D1_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                          raised_amount_usd
name         Main_Sector
SoFi         Others             1365.199900
Snapchat     Others             1165.100000
LivingSocial Others              818.225039
Facebook     Others              615.200000
Zenefits     Others              581.500000

In [124]:
#Finding the top sector of country D2 i.e GBR, finding the comapny which received the highest investment

D2_top_sector=D2.loc[D2['Main_Sector']=='Others']
D2_hightest_company=D2_top_sector.groupby(['name','Main_Sector'])
D2_hightest_company_top_sector=pd.DataFrame(D2_hightest_company['raised_amount_usd'].sum()/1000000)
print(D2_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                            raised_amount_usd
name           Main_Sector
OneWeb         Others                   500.0
Farfetch       Others                   194.5
Liquid Telecom Others                   150.0
picoChip       Others                   111.5
NewVoiceMedia  Others                   111.3

In [125]:
#Finding the top sector of country D3 i.e IND, finding the comapny which received the highest investment

D3_top_sector=D3.loc[D3['Main_Sector']=='Others']
D3_hightest_company=D3_top_sector.groupby(['name','Main_Sector'])
D3_hightest_company_top_sector=pd.DataFrame(D3_hightest_company['raised_amount_usd'].sum()/1000000)
print(D3_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                               raised_amount_usd
name              Main_Sector
Flipkart          Others             2451.000000
Snapdeal          Others              310.699998
Tata Teleservices Others              212.000000
Myntra            Others              158.750000
Pepperfry.com     Others              128.000000

In [126]:
#Finding the second top sector of country D1 i.e USA, finding the comapny which received the highest investment

D1_second_top_sector=D1.loc[D1['Main_Sector']=='Cleantech / Semiconductors']
D1_second_hightest_company=D1_second_top_sector.groupby(['name','Main_Sector'])
D1_second_hightest_company_top_sector=pd.DataFrame(D1_second_hightest_company['raised_amount_usd'].sum()/1000000)
print(D1_second_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                                                    raised_amount_usd
name                    Main_Sector
Freescale Semiconductor Cleantech / Semiconductors       17600.000000
Juno Therapeutics       Cleantech / Semiconductors        1159.803496
Better Place            Cleantech / Semiconductors         775.000000
BrightSource Energy     Cleantech / Semiconductors         582.000000
GreatPoint Energy       Cleantech / Semiconductors         562.000000

In [127]:
#Finding the second top sector of country D2 i.e GBR, finding the comapny which received the highest investment

D2_second_top_sector=D2.loc[D2['Main_Sector']=='Cleantech / Semiconductors']
D2_second_hightest_company=D2_second_top_sector.groupby(['name','Main_Sector'])
D2_second_hightest_company_top_sector=pd.DataFrame(D2_second_hightest_company['raised_amount_usd'].sum()/1000000)
print(D2_second_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                                           raised_amount_usd
name           Main_Sector
Immunocore     Cleantech / Semiconductors         320.000000
ReNeuron Group Cleantech / Semiconductors         150.859892
Circassia      Cleantech / Semiconductors         144.630999
BioVex         Cleantech / Semiconductors         133.314585
Kymab          Cleantech / Semiconductors         120.400000

In [128]:
#Finding the second top sector of country D3 i.e IND, finding the comapny which received the highest investment

D3_second_top_sector=D3.loc[D3['Main_Sector']=='Social, Finance, Analytics, Advertising']
D3_second_hightest_company=D3_second_top_sector.groupby(['name','Main_Sector'])
D3_second_hightest_company_top_sector=pd.DataFrame(D3_second_hightest_company['raised_amount_usd'].sum()/1000000)
print(D3_second_hightest_company_top_sector.sort_values(by='raised_amount_usd',ascending=False).head())

                                                                raised_amount_usd
name                   Main_Sector
ShopClues.com          Social, Finance, Analytics, Advertising              129.0
LYCOS Internet Limited Social, Finance, Analytics, Advertising              103.0
yepme.com              Social, Finance, Analytics, Advertising               88.2
BankBazaar.com         Social, Finance, Analytics, Advertising               79.0
PolicyBazaar           Social, Finance, Analytics, Advertising               69.6

In [129]:
#Mapping the count of investment to the amount of investment for each main category of D1
D1_Count_Amount_Investment=pd.merge(D1_invest_count,D1_invest_amt,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D1_Count_Amount_Investment

,funding_round_permalink,raised_amount_usd
Main_Sector,,
Others,8310,82796.823598
Cleantech / Semiconductors,7857,118834.869645
"Social, Finance, Analytics, Advertising",7246,86331.402349
"News, Search and Messaging",4350,45439.636584
Health,3269,31675.057766
Manufacturing,2453,24845.319470
Entertainment,1794,17014.560960
Automotive & Sports,505,11632.164696

In [130]:
#Final DataFrame of D1 by adding the count and amount of investment for each main category column in the D1 frame
D1_Final=pd.merge(D1,D1_Count_Amount_Investment,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D1_Final=D1_Final.drop_duplicates()
D1_Final=D1_Final.rename(columns={'funding_round_permalink_y':'No of Investments in main category','raised_amount_usd_y':'Total amount of Investment in each category'})
D1_Final.head()

,company_permalink,funding_round_permalink_x,funding_round_type,funding_round_code,raised_amount_usd_x,name,category_list,country_code,Primary_Sector,Main_Sector,No of Investments in main category,Total amount of Investment in each category
0,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,20000000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising",7246,86331.402349
1,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,1700000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising",7246,86331.402349
2,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,8900000.0,H2O.ai,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising",7246,86331.402349
3,/organization/100plus,/funding-round/b5facb0d9dea2f0352b5834892c88c53,venture,NaN,500000.0,100Plus,Analytics,USA,Analytics,"Social, Finance, Analytics, Advertising",7246,86331.402349
4,/organization/140-proof,/funding-round/2dc9ff9c590200195228ce2e153a1423,venture,A,3000000.0,140 Proof,Advertising|Big Data Analytics|Interest Graph,USA,Advertising,"Social, Finance, Analytics, Advertising",7246,86331.402349

In [131]:
#Mapping the count of investment to the amount of investment for each main category of D2
D2_Count_Amount_Investment=pd.merge(D2_invest_count,D2_invest_amt,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D2_Count_Amount_Investment

,funding_round_permalink,raised_amount_usd
Main_Sector,,
Others,516,4492.219646
Cleantech / Semiconductors,437,5052.849729
"Social, Finance, Analytics, Advertising",421,3773.328672
"News, Search and Messaging",241,2956.023749
Entertainment,136,1162.564878
Manufacturing,122,1019.283214
Health,118,1046.654806
Automotive & Sports,44,480.878712

In [132]:
#Final DataFrame of D2 by adding the count and amount of investment for each main category column in the D2 frame
D2_Final=pd.merge(D2,D2_Count_Amount_Investment,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D2_Final=D2_Final.drop_duplicates()
D2_Final=D2_Final.rename(columns={'funding_round_permalink_y':'No of Investments in main category','raised_amount_usd_y':'Total amount of Investment in each category'})
D2_Final.head()

,company_permalink,funding_round_permalink_x,funding_round_type,funding_round_code,raised_amount_usd_x,name,category_list,country_code,Primary_Sector,Main_Sector,No of Investments in main category,Total amount of Investment in each category
0,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,4000000.0,10 Minutes With,Education,GBR,Education,Others,516,4492.219646
1,/organization/31dover,/funding-round/b95cb5a74632e596e19a845e405ef14b,venture,B,2274716.0,31Dover,E-Commerce|Wine And Spirits,GBR,E-Commerce,Others,516,4492.219646
2,/organization/4th-office,/funding-round/cb31013634b75ce3fd5f58de0c30ec6e,venture,B,3607956.0,4th Office,Office Space,GBR,Office Space,Others,516,4492.219646
3,/organization/achilles-group,/funding-round/a1b717607189e0e8f8d2658c9c1f4dd8,venture,A,2500000.0,Achilles Group,Enterprise Software,GBR,Enterprise Software,Others,516,4492.219646
4,/organization/aconite-technology,/funding-round/80f33a0763f30c2e21f0c8bf686daf2a,venture,NaN,592000.0,Aconite Technology,Software,GBR,Software,Others,516,4492.219646

In [133]:
#Mapping the count of investment to the amount of investment for each main category of D3
D3_Count_Amount_Investment=pd.merge(D3_invest_count,D3_invest_amt,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D3_Count_Amount_Investment

,funding_round_permalink,raised_amount_usd
Main_Sector,,
Others,284,6329.507440
"Social, Finance, Analytics, Advertising",147,1578.804920
"News, Search and Messaging",130,1739.579948
Entertainment,76,976.191777
Manufacturing,55,730.260000
Cleantech / Semiconductors,54,786.444633
Health,42,564.370000
Automotive & Sports,31,1556.350000

In [134]:
#Final DataFrame of D3 by adding the count and amount of investment for each main category column in the D3 frame
D3_Final=pd.merge(D3,D3_Count_Amount_Investment,how='inner',left_on='Main_Sector',right_on='Main_Sector')
D3_Final=D3_Final.drop_duplicates()
D3_Final=D3_Final.rename(columns={'funding_round_permalink_y':'No of Investments in main category','raised_amount_usd_y':'Total amount of Investment in each category'})
D3_Final.head()

,company_permalink,funding_round_permalink_x,funding_round_type,funding_round_code,raised_amount_usd_x,name,category_list,country_code,Primary_Sector,Main_Sector,No of Investments in main category,Total amount of Investment in each category
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,10000000.0,#fame,Media,IND,Media,Entertainment,76,976.191777
1,/organization/adlabs-imagica,/funding-round/508d3c83daaae9fda3ba6f9682c78f6c,venture,NaN,8180000.0,Adlabs Imagica,Entertainment|Tourism,IND,Entertainment,Entertainment,76,976.191777
2,/organization/apalya,/funding-round/21e89efcaeab1bb1f61323686af357bf,venture,B,7500000.0,Apalya,Content|Digital Media|Entertainment|Mobile|Vid...,IND,Content,Entertainment,76,976.191777
3,/organization/apalya,/funding-round/6c533e58da5ab5a86fd90e5eb9716a00,venture,A,3000000.0,Apalya,Content|Digital Media|Entertainment|Mobile|Vid...,IND,Content,Entertainment,76,976.191777
4,/organization/apalya,/funding-round/fc622ba39384746a32c974c1c5891438,venture,C,8000000.0,Apalya,Content|Digital Media|Entertainment|Mobile|Vid...,IND,Content,Entertainment,76,976.191777